@model IEnumerable<Order>

@{
    ViewData["Title"] = "Index";
}

<div id="main">     
                <div className="page-heading pb-2 mt-4 mb-2 ">
                    <h3>Manage Order</h3> <a asp-controller="Home" asp-action="Index">
                        <button type="button" class="btn btn-outline-primary">HomePage</button></a>
                </div>
                <div class="page-content">
                <div class="container mb-3">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th scope="col">ID</th>
                            <th scope="col">User FullName</th>
                            <th scope="col">Order Date</th>
                            <th scope="col">Delivery Date</th>
                            <th scope="col">Address</th>
                            <th scope="col">Status</th>
                            <th></th>
                            </tr>
                        </thead>
                        <tbody>
                           @foreach (var o in Model)
                           {
                            <tr>
                                <td>@o.Order_ID</td>
                                <td>@o.ApplicationUser.User_Fullname</td>
                                <td>@o.Order_OrderDate</td>
                                <td>@o.Order_DeliveryDate</td>
                                <td>@o.ApplicationUser.User_Address</td>
                                @if (@o.Order_Status == 0)
                                {
                                    <td>                     
                                        Waiting Accept                                   
                                    </td>
                                }
                                else if(@o.Order_Status == 1){
                                    <td>                     
                                        Cancel                                   
                                    </td>
                                }
                                else if(@o.Order_Status == 2){
                                    <td>                     
                                        Delivering                                   
                                    </td>
                                }
                                else{
                                    <td>
                                        Delivered
                                    </td>                                        
                                }
                                <td>
                                    <a asp-route-idOrder="@o.Order_ID" asp-controller="Order" asp-action="orderDetail" 
                                    class="btn btn-outline-primary rounded-pill">Detail</a>
                                </td>
                            </tr>
                           }
                                
                        </tbody>
                    </table>
                </div>
            </div>
</div>