@model IEnumerable<OrderDetail>

@{
    ViewData["Title"] = "orderDetail";
}

<style>
    h2{
        padding-top: 5px;
        @* text-align: center; *@
    }
    #orderDetailForm{
        padding-left: 150px;
        padding-right: 150px;
    }
    .btnSubmit{
        display: flex;
        text-align: center;
    }
</style>

<div class="row">
    <div class="container">
        <form id="orderDetailForm" method="post" asp-controller="Order" asp-action="EditOrderdetail" 
        asp-route-idUser="@Model.ElementAt(0).Order.ApplicationUser.Id" >
            <h2>Order Detail</h2>
            <button  asp-controller="Order" asp-action="Index" class="w-10 btn btn-lg btn-primary">Back</button>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="@Model.ElementAt(0).Order_ID" 
                class="form-control" aria-required="true" style="width: 200px;" readonly/>
                <label>Order ID: </label>
                <span  class="text-danger"></span>
            </div>
            <br>
            <div class="page-content">
                <div class="container mb-3">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th scope="col">User FullName</th>
                            <th scope="col">Order Date</th>
                            <th scope="col">Delivery Date</th>
                            <th scope="col">Address</th>
                            <th scope="col">Status</th>
                            <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var o in Model)
                            {
                                <tr>
                                    <td>@o.Order.ApplicationUser.User_Fullname</td>
                                    <td>@o.Order.Order_OrderDate</td>
                                    <td>@o.Order.Order_DeliveryDate</td>
                                    <td>@o.Order.ApplicationUser.User_Address</td>
                                    <td>@o.Order.Order_Status</td>
                                </tr>
                            }                    
                                    
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            @{
                    int total = 0;

                    foreach (var o in Model)
                    {
                        int quantity = Convert.ToInt32(o.OrderDetail_Quantity);
                        int price = Convert.ToInt32(o.OrderDetail_Price);
                        total = total + (price*quantity);
                    }
                }
            <div class="form-floating">
                <input value="@total" class="form-control" aria-required="true" readonly style="width: 200px;"/>
                
                <label >Total: </label>
                <span  class="text-danger"></span>
            </div>
            <br>
            @if (@Model.ElementAt(0).Order.Order_Status == 0)
            {
                <div class="form-floating">
                    <p>Status:</p>
                    <input id="contactChoice" type="radio"  value="1" asp-for="@Model.ElementAt(0).Order.Order_Status" name="status"> Accept
                    <br>
                    <br>
                    <input id="contactChoice" type="radio"  value="0" asp-for="@Model.ElementAt(0).Order.Order_Status" name="status" checked> Cancel
                    <span  class="text-danger"></span>
                </div>
            }
            else{
            <br>
            <div class="form-floating">
                <p>Status:</p>
                @if (@Model.ElementAt(0).Order.Order_Status == 1)
                {
                    <label>Delivering</label>
                    <input id="contactChoice1" type="radio" value="1" asp-for="@Model.ElementAt(0).Order.Order_Status" name="status" checked> 
                    <br>
                    <br>
                    <label>Delivered</label>
                    <input id="contactChoice1" type="radio" asp-for="@Model.ElementAt(0).Order.Order_Status" name="status" value="2"> 
                }
                else{
                    <label>Delivering</label>
                    <input id="contactChoice1" type="radio"  value="1" asp-for="@Model.ElementAt(0).Order.Order_Status" name="status"> 
                    <br>
                    <br>
                    <label>Delivered</label>
                    <input id="contactChoice1" type="radio"  value="2" asp-for="@Model.ElementAt(0).Order.Order_Status" name="status" checked> 
                }
            </div>
            }
            
            <br>
            <div class="btnSubmit">
                <button id="addSubmit" type="submit" class="w-10 btn btn-lg btn-primary">Submit</button>
             </div>
        </form>    