@model IEnumerable<Book>
@{
    ViewData["Title"] = "Index";
}
<div id="main">
    <div className="page-heading pb-2 mt-4 mb-2 ">
        <h3>Manage Book</h3> <a asp-controller="Book" asp-action="Create"><button type="button"
                class="btn btn-outline-primary">Insert</button></a>
    </div>
    <div class="page-content">
        <div class="container mb-3">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Author</th>
                        <th scope="col">Price</th>
                        <th scope="col">SellPrice</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Status</th>
                        <th scope="col">Image</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Book_ID</td>
                            <td>@item.Book_Name</td>
                            <td>@item.Category.Category_Name</td>
                            <td>@item.Book_AuthorName</td>
                            <td>@item.Book_Price</td>
                            <td>@item.Book_SalePrice</td>
                            <td>@item.Book_Quantity</td>
                            @if (@item.Book_Status == 1)
                            {
                                <td>Avalable</td>
                            }
                            else
                            {
                                <td>Unavailable</td>
                            }
                            <td>
                                <img src="~/img/@item.Book_Image" alt="@item.Book_Image" width="100px">
                            </td>
                            <td>
                                <a class="btn btn-outline-primary rounded-pill" asp-action="Edit" asp-route-id="@item.Book_ID">Edit</a>
                                <a class="btn btn-outline-primary rounded-pill" asp-action="Delete" asp-route-id="@item.Book_ID"
                                    onclick="return confirm('Are sure wants to delete?');">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>