@model IEnumerable<Publisher>
@{
    ViewData["Title"] = "Index";
}
<div id="main">
    <div className="page-heading pb-2 mt-4 mb-2 ">
        <h3>Manage Publisher</h3>
        <a asp-controller="Publisher" asp-action="Create"><button type="button"
                class="btn btn-outline-primary">Insert</button></a>
    </div>
    <div class="page-content">
        <div class="container mb-3">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">PhoneNumber</th>
                        <th scope="col">Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>@foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Publisher_ID</td>
                            <td>@item.Publisher_Name</td>
                            <td>@item.Publisher_Email</td>
                            <td>@item.Publisher_Telephone</td>
                            @if (@item.Publisher_Status == 1)
                            {
                                <td>Avilable</td>
                            }
                            else
                            {
                                <td>Unavailable</td>
                            }
                            <td>
                                <a asp-controller="Publisher" asp-action="Edit" 
                                asp-route-id="@item.Publisher_ID" class="btn btn-outline-primary rounded-pill"> Update </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
